@import url('../Lato-Thin.ttf');
$black: #191716;
$light-gray: #e0e2db;

html {
  box-sizing: border-box;
  // width: 100vw;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    min-height: 100vh;
    margin: 0;

    nav {
      background: $black;
      width: 100vw;
      height: 3rem;
      // box-shadow: 0 0 5em #202020;
    }

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: calc(100vh - 6rem);
      padding: 1rem;
      background: $light-gray;

      .image {
        display: flex;
        padding: 0.5em;
        margin: 1rem;
        background: #e6af2e;
        box-shadow: 0 0 0.3em #202020;

        width: 12rem;
        height: 12rem;
        border-radius: 15px;
        & > img {
          border-radius: 10px;
          width: auto;
          height: auto;
        }
      }

      .mouse {
        &:hover {
          transform: scale(1.1) rotate(-5deg) translate(0, -6px);
          transition-duration: 0.5s;
          transition-timing-function: cubic-bezier(0.62, 0.37, 0.18, 0.77);
        }
      }

      .clicked {
        max-width: 100vw;
        max-height: 100vh;
      }
    }

    footer {
      background: $black;
      width: 100vw;
      height: 3rem;
      color: #fff;
      display: flex;
      justify-content: center;
      font-family: 'Lato-Thin', sans-serif;
      font-weight: 100;
    }
  }
}
