html {
  box-sizing: border-box;
  // width: 100vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
}

nav {
  background: black;
  width: 100vw;
  height: 3rem;
}

main {
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  align-items: center;
  // align-items: baseline;
  flex-wrap: wrap;
  min-height: calc(100vh - 6rem);
  // padding: 1em;
  padding: 0.5em;
}

footer {
  background: black;
  width: 100vw;
  height: 3rem;
}

.image {
  display: flex;
  padding: 0.5em;
  margin: 1em;

  width: 12rem;
  height: 12rem;
  border-radius: 15px;
  & > img {
    border-radius: 10px;
    width: auto;
    height: auto;
  }
}

.mouse {
  transition: transform 0.4s, background 0.2s;
  background: red;

  &:hover {
    transform: scale(1.1) rotate(-5deg);

    background: yellow;
  }
}

.clicked {
  background: green;
  // transition: transform 0.4s;
  // transform: scale(3) translate(10px, 10px);
  // transform: scale(3);
  max-width: 100vw;
  max-height: 100vh;
}

// @media (min-width: 500px) {
//   .image {
//     width: 12rem;
//     height: 12rem;
//   }
// }
